body{
    margin: 0px;
    color: white;
    background-color: teal;
}
body, .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    border: 2px solid white;
    padding: 10px;
    width: 70%;
    text-align: center;
    border-radius: 5px;
}
.meta{
    border: 2px solid white;
    padding: 10px;
    margin-bottom: 10px;
}
.content{
    width: 80%;
}
.content section{
    width: 80%;
}

.acc{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 5px;
}
.panels{
    display: none;
    overflow: hidden;
}
.panel {
    padding: 25px;
    padding-left: 40px!important;
    margin-bottom: 15px;
    border: 1px white solid;
    border-radius: 90px 0 90px 0px;
  }

  .active, .acc:hover {
    background-color: #ccc;
  }

  .panel table{
      margin-bottom: 5px;
  }

  
  .center {
   display: flex;
   justify-content: center;
  }

  .center button{
      padding: 8px;
  }